.container {
    display: block;
    margin: auto;
    max-width: 700px;
    font-family: sans-serif;
  }

.navbar {
      overflow: hidden;
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      background-color: rgba(171, 226, 226, 0.568);
      font-family: helvetica-bold, roboto, sans-serif;
      border-bottom: solid 1px black;
      margin-bottom: 3%;
  }
.heading {
    color: rebeccapurple;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 1%;
    text-decoration: none;
  }
  .nav-link-text:hover{
    color: gray;
    text-decoration: underline;
    font-size: large;
  }
.nav-link-item {
    padding-right: 2rem;
  }
.nav-link-text {
    color: black;
    text-decoration: none;
  }
.site-title {
    padding-left: 1%;
    font-size: 2rem;
    color: gray;
    font-weight: 700;
    margin: 2rem 0;
  }